
input, select{

    border:none;
    border-bottom: 1px solid #1890ff;
    outline: none;
    width: 90px;
}

.rowDiv{
    padding-top: 10px;
    padding-bottom: 5px;
}

label{
    font-style:oblique;
}

.colDiv{
    padding-left: 0;
}
