.tg  {border-collapse:collapse;border-spacing:0;width:730px;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
  .tg .tg-cly1{text-align:left;vertical-align:middle}
  .tg .tg-ri3q{background-color:#333333;border-color:inherit;color:#ffffff;font-weight:bold;text-align:left;vertical-align:top}
  .tg .tg-91pb{background-color:#343434;color:#ffffff;text-align:center;vertical-align:top; height:5px;}
  .tg .tg-c3ow{border-color:inherit;text-align:center;vertical-align:top}
  .tg .tg-jfoo{border-color:inherit;font-size:20px;font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-4f0n{background-color:#000000;border-color:inherit;color:#ffffff;text-align:center;vertical-align:top}
  .tg .tg-bxco{background-color:#333333;border-color:inherit;color:#ffffff;font-weight:bold;text-align:center;vertical-align:top}
  .tg .tg-nrix{text-align:center;vertical-align:middle}
  .tg .tg-0lax{text-align:left;vertical-align:top}
  .tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}
  .tg .tg-fymr{border-color:inherit;font-weight:bold;text-align:left;vertical-align:top}


  * {
    outline: none;
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }