
<div style="width:98%">
<div class="parent">
    <mat-card class="carddesign cardbg">
        <mat-card-content >
            <div align="center" >
                <h2>Entrance Register</h2>
            </div>
<mat-tab-group mat-stretch-tabs [selectedIndex]="entrregTab">
    <mat-tab label="Vehicle"><app-vehicle></app-vehicle> </mat-tab>
    <mat-tab label="Employee"><app-employeereg></app-employeereg></mat-tab>
    <mat-tab label="Inward"><app-under-construction></app-under-construction></mat-tab>
    <mat-tab label="Visitor"><app-under-construction></app-under-construction></mat-tab>
    <mat-tab label="Outward"><app-under-construction></app-under-construction></mat-tab>
</mat-tab-group>
</mat-card-content>
</mat-card>
</div>
</div>
