
.entryGrid{
    position:relative;
    width:1000px;
    margin:auto;
    padding-left:8%;
    padding-right:0;
}

.create-btn{
    margin:auto;
    padding-left:90%;
    padding-right: 0%;
}


.tblDiv{
    width:1300px;
    position:absolute;
    overflow-x:scroll;
}

.fullDiv{
    width:70%;
    position:absolute;
    left: 5%;
}
