
<div align="center">
<div style="width:98%">
<div class="parent">
    <mat-card class="carddesign cardbg">
        <mat-card-content >
            <div align="center" >
                <h2>QMS Documents</h2>
            </div>
            <mat-tab-group mat-stretch-tabs>
            <mat-tab label="Performance">
            <!--Performance Division-->
                <app-performance></app-performance>
            </mat-tab>
            <mat-tab label="Responsibility">
            <!--Responsibility-->
                <app-performance-responsibility></app-performance-responsibility>
            </mat-tab>
            <mat-tab label="KPI">
            <!--KPI portion-->
                <app-performance-kpi></app-performance-kpi>
            </mat-tab>
            <mat-tab label="Review">
            <!-- Review-->
                <app-performance-review></app-performance-review>
            </mat-tab>
            <mat-tab label="Revision">
            <!--Revision-->
                <app-performance-revision></app-performance-revision>
            </mat-tab>
            <mat-tab label="Issue">
            <!--Issue-->
                <app-performance-issue></app-performance-issue>
            </mat-tab>
            <mat-tab label="Upload File">
            <!--Upload File-->
                <app-performance-file></app-performance-file>
            </mat-tab>
        </mat-tab-group>
</mat-card-content>
</mat-card>
</div>
</div>
</div>
