
<div class="parent">
<mat-card class="carddesign cardbg">
    <mat-card-content >
        <div style="text-align:center;">
        <p>
            <mat-label><h2>Login</h2></mat-label>
        </p>
          <p>
            <mat-icon matPrefix>verified_user</mat-icon> &nbsp;
            <mat-form-field appearance="legacy">
                    <mat-label>Username</mat-label>
                    <input matInput id="username" name="username">
            </mat-form-field>
          </p>
          <p>
            <mat-icon matPrefix>vpn_key</mat-icon> &nbsp;
            <mat-form-field appearance="legacy">
                    <mat-label>Password</mat-label>
                    <input matInput type="password" id="password" name="password">
            </mat-form-field>
          </p>
          <p >
            <button mat-raised-button color="primary" style="background-image: linear-gradient(to left top, #116925, #148b2c, #1bae30, #28d332, #3af831);"
            class="rounded">Login</button>
            &nbsp;&nbsp;&nbsp;
            <button mat-raised-button color="primary" style="background-image: linear-gradient(to left top, #116925, #148b2c, #1bae30, #28d332, #3af831);"
            class="rounded">Cancel</button>
          </p>

        </div>
    </mat-card-content>
</mat-card>
</div>

