
<div class="fullDiv">

    <form class="row g-3">
        <div class="col-auto">
          <input class="form-control" list="iossv" placeholder = "Schedule Vendor" #iosvData name="filterVendor" id="filterVendor" [(ngModel)]="selectedVendor" (change)="filterVendor = getSelectedFilterId(selectedVendor); getDetails();"/>
          <datalist id="iossv">
            <option *ngFor="let  scheduleVendor of filterVendors" >
                {{getVendorName(scheduleVendor)}} - {{scheduleVendor}}
            </option>
          </datalist>
        </div>
        <div class="col-auto">
            <input class="form-control" list="iosi" placeholder = "Item" #iosiData name="filterItem" id="filterItem" [(ngModel)]="selectedItem" (change)="filterItem = getSelectedFilterId(selectedItem); getDetails();"/>
            <datalist id="iosi">
              <option *ngFor="let itemId of filterItems">
                  {{getItemName(itemId)}} - {{itemId}}
              </option>
            </datalist>
        </div>
        <div class="col-auto">
            <input class="form-control" list="ioso" placeholder = "Order No" #iosoData name="filterOrderId" id="filterOrderId" [(ngModel)]="selectedOrderId" (change)="filterOrderId = getSelectedFilterId(selectedOrderId); getDetails();"/>
            <datalist id="ioso">
              <option *ngFor="let orderNo of filterOrderIds">
                {{getItemOrderNo(orderNo)}} - {{orderNo}}
              </option>
            </datalist>
        </div>
        <span *ngIf="filterDateCheck" class="col-auto">
            <div class="col-auto">
                From Date <input type="date" id="filterFromDate" class="form-control" name="filterFromDate" [(ngModel)]="filterFromDate"/>
            </div>
            <div class="col-auto">
                To Date <input type="date" id="filterToDate" class="form-control" name="filterToDate" [(ngModel)]="filterToDate"/>
            </div>
        </span>
        <div class="col-auto">
            <input type="button" id="filterDate" name="filterDate" class="form-control" (click)="filterDateCheck = !filterDateCheck" value="Date Range">
        </div>
        <div class="col">
          <button type="button" class="btn btn-primary mb-3" (click)="getDetails()">Get Details</button>
        </div>
    </form>

    <div>
        <app-additemorderschedule></app-additemorderschedule>
    </div>

<div class="tblDiv">
    <ngb-alert #selfClosingAlert *ngIf="alertMsg" [type]="alertType" (closed)="alertMsg = false">{{alertMessage }}
    </ngb-alert>
    <table class="table table-striped tablepadding">
        <thead>    
            <tr>
                <th> #</th>
                <th>OrderScheduleOurCode</th>
                <th>Schedule Vendor</th>
                <th>Schedule For</th>                
                <th>Item Id</th>
                <th>ItemOrder Id</th>
                <th>Vendor Schedule Reference</th>
                <th>Schedule Type</th>
                <th>Schedule Date</th>
                <th>Schedule Qty In Nos</th>
                <th>Schedule Qty In Kgs</th>
                <th>Schedule ValidUpto</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor = "let entry of entries ; let i=index;">
                <td> {{entries.length-i}} </td>
                <td>{{entry.orderScheduleOurCode}}</td>
                <td>{{entry.scheduleVendor}}</td>
                <td>{{entry.scheduleFor}}</td>
                <td>{{entry.itemId}}</td>
                <td>{{entry.itemOrderId}}</td>
                <td>{{entry.vendorScheduleReference}}</td>
                <td>{{entry.scheduleType}}</td>
                <td>{{entry.scheduleDate | date: 'dd - MM - yyyy'}}</td>
                <td>{{entry.scheduleNos}}</td>
                <td>{{entry.scheduleKgs}}</td>
                <td>{{entry.scheduleValidDate}}</td>
                <td><button type="button" class="btn btn-danger" (click)="delete(entry.itemOrderScheduleId)" value="Delete">Delete</button></td>
            </tr>
            
        </tbody>
    </table>
</div>
</div>